apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-gitops
  namespace: default
  labels:
    app: nginx-gitops
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-gitops
  template:
    metadata:
      labels:
        app: nginx-gitops
    spec:
      containers:
      - name: nginx
        image: nginx:1.27
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
        - name: html-content
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html-content
        configMap:
          name: nginx-html
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-gitops
  namespace: default
spec:
  selector:
    app: nginx-gitops
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort
